@import '../../assets/styles/vars';
@import '../../assets/styles/mixins';

.footer {
  flex: 0 0 auto;
  padding-bottom: 50px;
  .inner {
    align-items: flex-end;
  }
}

.title {
  grid-column-end: 5;
  grid-column-start: 3;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    grid-column-end: 6;
    grid-column-start: 1;
  }
}