//Neutral Face
@font-face {
  font-family: 'Neutral Face';
  src: url('../fonts/NeutralFace/neutral_face.eot');
  src: url('../fonts/NeutralFace/neutral_face.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NeutralFace/neutral_face.woff2') format('woff2'),
    url('../fonts/NeutralFace/neutral_face.woff') format('woff'),
    url('../fonts/NeutralFace/neutral_face.ttf') format('truetype'),
    url('../fonts/NeutralFace/neutral_face.svg#neutral_face') format('svg');
  display: swap;
  font-weight: 400;
  font-style: normal;
}

//Suisse
@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/Suisse/SuisseIntl-Regular.otf');
  display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../fonts/Suisse/SuisseIntl-RegularItalic.otf');
  display: swap;
  font-weight: 400;
  font-style: italic;
}